In [42]:
import os
from dotenv import load_dotenv
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt

load_dotenv()

socrata_domain = 'data.transportation.gov'
socrata_dataset_identifier = 'evch-7vws'
socrata_token = os.environ.get('APP-PUBLIC')
print(socrata_token)
client = Socrata(socrata_domain, socrata_token)
results = client.get(
    socrata_dataset_identifier,
    select='year,quarter,item_name,uniquecarriername,val',
    where="year = 2019 and uniquecarriername != ''"
)

df = pd.DataFrame.from_dict(results)
df.loc[df.item_name == 'Net Income (Loss)']

580vHdsC5liJR2S0l70tCFHun

,year,quarter,item_name,uniquecarriername,val
9,2019,3,Net Income (Loss),Delta Air Lines Inc.,1493988000
15,2019,1,Net Income (Loss),American Airlines Inc.,1651856155
41,2019,1,Net Income (Loss),Alaska Airlines Inc.,510298000
67,2019,1,Net Income (Loss),JetBlue Airways,141476033
92,2019,1,Net Income (Loss),Delta Air Lines Inc.,4049513000
118,2019,1,Net Income (Loss),ExpressJet Airlines LLC d/b/a aha!,-20801795
144,2019,1,Net Income (Loss),Frontier Airlines Inc.,82734835
170,2019,1,Net Income (Loss),Allegiant Air,197605904
196,2019,1,Net Income (Loss),Hawaiian Airlines Inc.,253498918
222,2019,1,Net Income (Loss),Envoy Air,-19275049
246,2019,1,Net Income (Loss),Spirit Air Lines,256746697
270,2019,1,Net Income (Loss),SkyWest Airlines Inc.,221238917
296,2019,1,Net Income (Loss),United Air Lines Inc.,2276739884
322,2019,1,Net Income (Loss),Southwest Airlines Co.,2389485000
348,2019,1,Net Income (Loss),Republic Airline,50094925
374,2019,1,Net Income (Loss),United Parcel Service,147731763
398,2019,1,Net Income (Loss),Atlas Air Inc.,8456239
420,2019,1,Net Income (Loss),Federal Express Corporation,2013088000
445,2019,1,Net Income (Loss),Kalitta Air LLC,58780955
467,2019,1,Net Income (Loss),Polar Air Cargo Airways,-6
487,2019,2,Net Income (Loss),American Airlines Inc.,1746828644
513,2019,2,Net Income (Loss),Alaska Airlines Inc.,551511000
538,2019,2,Net Income (Loss),JetBlue Airways,440852467
563,2019,2,Net Income (Loss),Delta Air Lines Inc.,4438949000
589,2019,2,Net Income (Loss),ExpressJet Airlines LLC d/b/a aha!,-55583274
615,2019,2,Net Income (Loss),Frontier Airlines Inc.,96043859
641,2019,2,Net Income (Loss),Allegiant Air,232938895
666,2019,2,Net Income (Loss),Hawaiian Airlines Inc.,232412156
692,2019,2,Net Income (Loss),Envoy Air,-8040998
715,2019,2,Net Income (Loss),Spirit Air Lines,360002371
739,2019,2,Net Income (Loss),SkyWest Airlines Inc.,214046279
765,2019,2,Net Income (Loss),United Air Lines Inc.,2644546423
791,2019,2,Net Income (Loss),Southwest Airlines Co.,2397298000
817,2019,2,Net Income (Loss),Republic Airline,47893604
843,2019,2,Net Income (Loss),United Parcel Service,140572084
868,2019,2,Net Income (Loss),Atlas Air Inc.,60481615
890,2019,2,Net Income (Loss),Federal Express Corporation,1829105000
915,2019,2,Net Income (Loss),Kalitta Air LLC,38074602
937,2019,2,Net Income (Loss),Polar Air Cargo Airways,-7
957,2019,3,Net Income (Loss),American Airlines Inc.,1852150291
983,2019,3,Net Income (Loss),Alaska Airlines Inc.,632884000

In [40]:
df = pd.DataFrame.from_dict(results)
df.loc[df.item_name == 'Net Income (Loss)'].groupby('uniquecarriername')['val'].sum()

uniquecarriername
Alaska Airlines Inc.                     510298000551511000632884000
Allegiant Air                                     197605904232938895
American Airlines Inc.                165185615517468286441852150291
Atlas Air Inc.                                       845623960481615
Delta Air Lines Inc.                  149398800040495130004438949000
Envoy Air                                          -19275049-8040998
ExpressJet Airlines LLC d/b/a aha!                -20801795-55583274
Federal Express Corporation                     20130880001829105000
Frontier Airlines Inc.                              8273483596043859
Hawaiian Airlines Inc.                            253498918232412156
JetBlue Airways                                   141476033440852467
Kalitta Air LLC                                     5878095538074602
Polar Air Cargo Airways                                         -6-7
Republic Airline                                    5009492547893604
SkyWest Airlines Inc.                             221238917214046279
Southwest Airlines Co.                          23894850002397298000
Spirit Air Lines                                  256746697360002371
United Air Lines Inc.                           22767398842644546423
United Parcel Service                             147731763140572084
Name: val, dtype: object